@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom_on_hover_img {
  transition-property: all;
  transition-duration: 700ms;
  object-fit: cover;
}
.zoom_on_hover:hover .zoom_on_hover_img {
  transform: scale(1.2) !important;
}
